.container {
    width: 90%;
    min-width: 400px;
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    
    }
    
    body{
        background-color: grey;
    }
    
    .header {
    width: 100%;
    background-color: #FAF0E6;
    border:solid 2px black;
    margin-bottom: 20px;
    text-align: center;
    
    }
    
    #navigation {
    width: 20%;
    float: left;
    width: 198px;
    border:solid 2px black;
    background-color: #FAF0E6;
    }
    
    .centerDoc {
        width: 70%;
        margin-left: 10px;
        border:solid 2px black;
        float: right;
        margin-bottom: 10px;
    }
    
    #iconimage {
    float: right;
    margin: 20px;
    }
    
    .footer {
        float: right;
        width: 100%;
        clear: both;
        border:solid 2px black;
        margin-top: 20px;
        text-align: center;
        background-color: #FAF0E6;
    
    }
    
    #navigation li {
        list-style: none;
        line-height: 1.5em;
        margin-right: 10px;
    }
    
    #navigation h2 {
        padding-left: 10px;
        padding-bottom: 10px;
    }
    #navigation a {
        padding-left: 10px;
        line-height: 2em;
        text-decoration: none;
    }
    
    #navigation a:hover {
        background-color: rgb(189, 175, 189);
        display: block;
    }
    
    li {
        background-color: grey;
        margin-bottom: 2px;
    }
    
    li :hover {
        
        color: red;
    }
    
    
    @media screen and (min-width: 600px){
        body{
            background-color: rgb(133, 145, 133);
        }
        
    }
    
    @media screen and (max-width: 770px){
        .centerDoc{
            margin-top: 30px;
        }
    
        #navigation {
            width: 150px;
            height: 100px;
        }
        ul {
            display: none;
        }
        
    }
    